// Ejemplo de grillas y contenedores

.contenedor-analisis {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.compañiasGrid {
list-style: none;
display: flex;
flex-wrap: wrap;
  justify-content: left;
   gap: 20px;
  padding: 0;

  li {
    background-color: #1a1a1a;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    width: 110px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);

    img {
       width: 65px;
       height: 50px;
      display: block;
       margin: 0 auto 8px;
       border-radius: 6px;
     }
   }
 }
.videosGrid {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  justify-items: center;
}