@media (max-width: 768px) {
  .encabezadoPrincipal {
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      width: 90px;
    }
  }

  .encabezadoUl ul li {
    display: block;
    margin: 8px auto;
  }

  .imagenesMain img {
    width: 90%;
  }

  .galeria-imagenes {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .analisisItem {
    flex-direction: column;
    text-align: center;

    .imgAnalisis {
      width: 100%;
    }
  }

  .videosGrid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 70px;
    max-width: 100%;
    height: auto;
  }

  .encabezadoPrincipal img {
    width: 70px;
    max-width: 100%;
    height: auto;
  }
}


@media (max-width: 480px) {
  .logo,
  .encabezadoPrincipal img {
    width: 60px;
  }
}


@media (max-width: 480px) {
  .galeria-imagenes {
    grid-template-columns: 1fr;
  }

  .tituloPagina {
    font-size: 1.4rem;
  }

  .formularioContacto {
    padding: 15px;
  }

  .contenidoPrincipal {
    padding: 15px;
  }
}
