$color-primario: #16076b;
$color-secundario: #1e1e1e;
$color-fondo: #4f0dc9;
$color-texto: #000000;
$color-blanco: #ffffff;
$fuente-principal: Arial, sans-serif;
$fuente-secundaria: "Nunito", sans-serif;
$color-borde-noticia: #f9a825; 
$color-fondo-noticia: #1a1a1a;
$color-texto-noticia: #dddddd;
